{% extends "layout.html" %}

{% block title %}Kategoria: {{ tag.name }}{% endblock %}

{% block content %}
<div class="locations-grid">
  {% for location in locations %}
  <a href="/location/{{ location.id }}" class="location-card">
    {% if location.image %}
    <img src="/location/{{ location.id }}/image" class="location-image" />
    {% else %}
    <div class="location-image"></div>
    {% endif %}
    <div class="location-content">
      <div class="location-title">{{ location.name }}</div>
      <div class="location-description">{{ location.description }}</div>
      <div class="location-created">{{ location.created_at }}</div>
      <div class="location-author">{{ location.username }}</div>
    </div>
  </a>
  {% endfor %}
  {% if not locations %}
    <p>Ei ilmoituksia tässä kategoriassa.</p>
  {% endif %}
</div>

<div class="page-links">
  {% if page_count > 1 and page != 1 %}
  <a href="{{ url_for('categories', tag_id=tag.id) }}">Palaa alkuun</a>
  {% endif %}
  {% if page > 1 %}
  <a href="{{ url_for('categories', tag_id=tag.id, page=page-1) }}">Edellinen</a>
  {% endif %}
  {% if page < page_count %}
  <a href="{{ url_for('categories', tag_id=tag.id, page=page+1) }}">Seuraava</a>
  {% endif %}
  {% if page_count > 1 and page != page_count %}
  <a href="{{ url_for('categories', tag_id=tag.id, page=page_count) }}">Mene loppuun</a>
  {% endif %}
</div>
{% endblock %}