{% extends "layout.html" %}

{% block title %}Ilmoitukset{% endblock %}

{% block content %}
<form class="search-box" action="/search" method="get">
  <p>
    <label for="query">Hakusana:</label>
    {% if query %}
    <input type="text" id="query" name="query" value="{{ query }}" required />
    {% else %}
    <input type="text" id="query" name="query" required />
    {% endif %}
    <button type="submit">Hae</button>
  </p>
</form>

<div class="stats">
  <p><strong> Tilastot: </strong></p>
  <p>Ilmoituksia yhteensä: {{ stats.location_count }}</p>
  <p>Käyttäjiä yhteensä: {{ stats.user_count}}</p>
</div>

<div class="locations-grid">
  {% for location in locations %}
  <a href="/location/{{ location.id }}" class="location-card">
    {% if location.image %}
    <img src="/location/{{ location.id }}/image" class="location-image" />
    {% else %}
    <div class="location-image"></div>
    {% endif %}
    <div class="location-content">
      <div class="location-title">{{ location.name }}</div>
      <div class="location-description">{{ location.description }}</div>
      <div class="location-author">{{ location.username }}</div>
      <div class="location-tags">
        {% for tag in location.tags %}
        <span class="location-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </a>
  {% endfor %}
  {% if not locations %}
    <p>Ei ilmoituksia.</p>
  {% endif %}
</div>


<div class="page-links">
  {% if page > 1 %}
  <a href="{{ url_for('index', page=page-1) }}">Edellinen</a>
  {% endif %}
  {% if page < page_count %}
  <a href="{{ url_for('index', page=page+1) }}">Seuraava</a>
  {% endif %}
  <a href="{{ url_for('index') }}">Palaa alkuun</a>
  <a href="{{ url_for('index', page=page_count) }}">Mene loppuun</a>
</div>
{% endblock %}
