{% extends "layout.html" %}

{% block title %}Käyttäjän profiilin muokkaus{% endblock %}

{% block content %}
<body>
    <div class="edit-form form-section">
      <form action="/profile/{{ user.username }}/edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Otsikko</label>
          <input type="text" id="name" name="name" required value="{{ user.name }}" />
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </div>
        <div class="form-group">
          <label for="image">Kuva</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>
        <button type="submit" class="submit-btn">💾 Tallenna muutokset</button>
      </form>
    </div>
  </div>
</body>

{% endblock %}
